<div class="page-result">
<div class="results-container">
<h1 class="results-title">おすすめの支援メニュー</h1>

<div class= "solutions-container">
  <div class="solutions-box"
  <% @solutions.each.with_index(1) do |solution, i| %>
    <tr>
          <% if @solutions.where(description: solution.description).first.id == solution.id %>
            <div class="type-container">
              <b><%= solution.description %></b>
            </div>
          <% end %>
          <%= link_to solution.website, target: :_blank  do %>
            <div class="program-details">
              <td><%=i%>. <%= solution.title %></td>
            </div>
          <% end %>
          <div class="solution-information">
            <td><%= solution.information %></td>
          </div>
    </tr>
    <br>
  <% end %>
  </div>
</div>
</div>
</div>
